.div1 {
    background-color: #F48CFD;
}

.div2 {
    background-color: #ce74dc;
}

.div3 {
    background-color:#8cb7fd;
}

.container {
    border: 2px solid blueviolet;
    /* limita o tamanho do elemento */
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

.item {
    background-color: #e3d1fc;
    margin: 5px;
    text-align: center;
    color: rgb(168, 104, 236);
}