.div1 {
    background-color: #F48CFD;
}

.div2 {
    background-color: #ce74dc;
}

.div3 {
    background-color:#8cb7fd;
}

.container {
    border: 2px solid blueviolet;
    /* limita o tamanho do elemento */
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

.item {
    background-color: #e3d1fc;
    margin: 5px;
    text-align: center;
    color: rgb(168, 104, 236);
}

.flex {
    display: flex;
    /* define a direção dos elementos */
    flex-direction: column;
}

.flex > div > img {
    height: 50px;
    width: 50px;
}

.div-coluna {
    height: 78px;
    width: 60px;
    background-color:  #e3d1fc;
    /* Os abaixos foram adicionadas por puro perfeccionismo da minha parte
    necessito dessa organização, desde as cores até o alinhamento no centro */
    text-align: center;
    color: rgb(168, 104, 236);
    margin: 0 auto;
    font-size: x-small;
    font-family: cursive;
}

.secao {
    display: flex;
    flex-direction: row;
    height: 450px;
    background-color: #e3d1fc;
    /* Coloca um espaço entre os elementos */
    gap: 10px;
    flex-wrap: wrap;
}

.secao-imagem {
    width: 200px;
    height: 200px;
}

.alinhar-esquerda {
    display: flex;
    flex-direction: row;
    /* Alinha o elemento ao início */
    justify-content: flex-start;
}

.alinhar-centro {
    display: flex;
    flex-direction: row;
    /* Alinha os elementos ao centro */
    justify-content: center;
}

.alinhar-direita {
    display: flex;
    flex-direction: row;
    /* Alinha os elementos ao fim */
    justify-content: flex-end;
}

.alinhar-entre {
    display: flex;
    flex-direction: row;
    /* Aloca os elementos nas pontas e 
    ajusta os elementos do centro */
    justify-content: space-between;
}

.alinhar-redor {
    display: flex;
    flex-direction: row;
    /* distribui os itens com espaço ao redor deles */
    justify-content: space-around;
}

.alinhar-coluna {
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    align-items: center;
    width: 100%;
    background-color: #eae0f7;
}

.alinhar-itens-centro {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #eae0f7;
    align-items: center;
    justify-content: space-between;
}

.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; /* Adiciona scroll na horizontaç  */
    gap: 0.4rem;
    height: 500px;
}

.card {
    width: 300px;
    height: 435px;
    flex: 0 0 auto;  /* Evita que os cards encolham ou se ajustem automaticamente */
    border: 1px solid hsl(196, 54%, 62%);
    border-radius: 8px;
    box-shadow: 0 4px 6px hsl(196, 85%, 77%);
    font-family: cursive;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    /* serve para criar um efeito hover, mudando a posição do card */
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(168, 216, 255, 0);
}

.cabecalho-card {
    padding: 10px;
    text-align: center;
}

.titulo-card {
    margin: 0;
    font-size: 1.5rem;
    color: #8cb7fd;
}

.subtitulo-card {
    margin: 0;
    font-size: 1rem;
    color: #7daefb;
}

.imagem-card {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-card > img {
    max-width: 100%; /* Mantem o limite maximo do tamanho do container */
    height: 200px; /* Mantem a proporção da imagem */
}

.imagem-card > figcaption {
    font-size: 0.8rem;
    padding: 8px;
    text-align: center;
    color: #8cb7fd;
}

.conteudo-card {
    padding: 10px;
    background-color: #cadaf5;
    text-align: center;
    color: #ffffff;
    /* color: #77a9f9; */
}

.rodape-card {
    background-color: #8db7f9;
    text-align: center;
    padding: 6px;
}

.botao-card {
    text-decoration: none; /* Remove a decoração de linha */
    color: #fa8edf;
    background-color: #77a9f9;
    border-radius: 10px;
    padding: 5px 6px;
    /* permite definir largura e altura, alinha elementos na mesma linha */
    display: inline-block;
}

.botao-card:hover {
    background-color: #ffffff;
    width: 150px;
}