/* Seletor universal */
* {
    margin: 18px;
}

/* Seletor de tipo, que aplica em uma tag específica */
p {
    color: rgb(100, 61, 255);
}

/* Seletor e classe */
.paragrafo {
    background-color: rgb(118, 120, 216);
    /* margin: 10px; - Aplica em todas as margens */
    /* margin: 10px 40px; - Aplica nas margens 'laterais' e 'superior e inferior'*/
    /* margin: 10px 20px 30px 40px; Aplica margens top, right, bottom, left  */
    margin-left: 10px;
    /* Alinhamento do texto */
    text-align: center;
}

/* Imagem*/
.imagem {
    width: 150px;
    height: 100%;
}
body {
    background-color: aquamarine;
}

.tabela{
    /* remover os espaços entre as bordas */
    border-collapse: collapse;
    width: 100%;
}

.cabeçalho, .celula{
    /* Configura o formato da borda
    Expessura, tipo e cor */
    border: 2px solid rgb(152, 154, 255);
    /* define o espaçamento interno */
    padding: 5px;
    text-align: left;
    color: black;
    background-color: rgb(185, 186, 250);
}

.cabeçalho2{
    background-color: rgb(151, 153, 245);
}

.cabeçalho3{
    background-color: rgb(144, 146, 249);
}

.cabecalho, .celul{
    /* Configura o formato da borda
    Expessura, tipo e cor */
    border: 2px solid rgb(152, 154, 255);
    /* define o espaçamento interno */
    padding: 5px;
    text-align: center;
    color: black;
}
/* 165, 128, 209 */
/* rgb(191, 61, 255) - (.paragrafo background-color) */