main {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.texto{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    /* align-items: center; */
}

h2{
    color: #13223d;
}

h4{
    color: #13223d;
}

span{
    color: #3c4248;
}

.orchid-pink{
    color: #f1bac8;;
}