/* Handlee */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* Assegura que padding e margin sejam incluidos nas dimensoes totais do elemento */
    box-sizing: border-box;
}
body{
    color: azure;
    background-color:#040404; /* #040404; /
}
.logo {
    font-family: Dancing Script;
    font-size: 2rem;
    color: azure;
    /* padding-right: 50px; */
}
a{
    text-decoration: none;
}
.menu {
    font-family: handlee;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
nav{
    background-color: rgb(0, 0, 0);
    max-width: 1120px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.acessar {
    color: azure;
}
li {
    display: inline;
    padding: 5px 5px;
} 
li{
    list-style: none;
}
li > a{
    color: azure;
}
.banner-cafe {
    max-width: 1120px;
    /* height: 60vh; */
    margin: auto;
}
.banner-cafe >img {
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    opacity: 0.7;
}

.banner-novidades {
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    gap: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-conteudo {
    /* Organizamos o conteudo em coluna */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.banner-imagens {
    /* Organizar o conteudo em uma coluna */
    max-width: 45%;
    /* Exibir as imagens em 4 colunas */
    column-count: 4;
}

.banner-imagens > figure >img {
    width: 100%;
    border-radius: 5px;
}

.card-novo{
    display: flex;
    overflow: scroll;
    gap: 3rem;
    margin: auto;
    max-width: 1120px;
}

/* Removendo a barra de scroll */
.card-novo::-webkit-scrollbar {
    display: none;
}

.receitas {
    /* Organizando em colunas */
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 2.5rem 2rem;
    margin: auto;
}

.cabeçalho-card {
    background-color: #252020;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    margin: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 0px 20px rgba(62, 59, 59, 0.7);
    max-width: 260px;
}

.rodape-card {
    background-color: #252020;
    padding: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    width: 80px;
    background-color: #662E3F;
    color: #31161E;
    border-radius: 8px;
    padding: 4px;
}

.mapa {
    max-width: 1120px;
    width: 600px;
    height: 400px;

    /* Aplica papel de parede a nossa div */
    background-image: url(../img/mapa.png);
    background-repeat: no-repeat;
    /* Aplica tamanho da imegam em todo o espaço */
    background-size: cover;
    margin: 20px auto;
    position: relative;
}

.icone{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff6347;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    cursor: pointer;
    font-size: 18px;
}

.icone1{
    top: 40px;
    left: 100px;
}
.icone2{
    top: 100px;
    left: 220px;
}

/* Criando um elemento que não vai aparecer natela */
.div-hover {
    /* Escondendo a imagem */
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 500px;
    height: 400px;
}

.icone:hover .div:hover{
    /* mostrando a imagem */
    display: block;
    position: absolute;
    top: 15%;
    left: 37%;
}

/* Estilização melhores Avaliados */

.container-galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: #ccc;
}

.item-galeria{
    /* width: 300px; esse é muito mais bonito*/
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(85, 255, 255);
}

.item-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3 ease;
}

.item-galeria img:hover{
    transform: scale(1.1);
}