@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

.logo{
    font-family: Teko;
    font-size: 2rem;
    color: #9de26e;
}

/* .link {
    text-decoration: none;
    color: #051b40;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 2px 2px #051b40;
}

ul {
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
} */


/* GALERIA DE PREFEITOS */

.titulo {
    text-align: center;
}

.Rei-dos-vassalos{
    display: flex;
    max-width: 1500px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px 0;
}

.container-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    column-count: 4;
    flex-flow: wrap;
    /* overflow-x: auto; Adiciona scroll  */
    gap: 0.8rem;
}

.card-Rei {
    width: 900px;
    height: 200px;
    flex: 0 0 auto;
    box-shadow: 0 4px 6px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 340px;
    flex: 0 0 auto;  /* Evita que os cards encolham ou se ajustem automaticamente */
    border: 1px solid #171c02;
    box-shadow: 0 4px 6px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.card:hover {
    /* serve para criar um efeito hover, mudando a posição do card */
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(168, 216, 255, 0);
}

.cabecalho-card {
    padding: 10px;
    text-align: center;
}

.titulo-card {
    margin: 0;
    font-size: 1.3rem;
    color: #051b40;
    height: 50px;
}

.subtitulo-card {
    margin: 0;
    font-size: 1rem;
    color: #051b40;
}

.imagem-card {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imagem-card > img {
    max-width: 100%;
    height: 200px; 
}

.imagem-card > figcaption {
    font-size: 0.8rem;
    padding: 8px;
    text-align: center;
    color:#051b40;

}

.conteudo-card {
    padding: 10px;
    background-color: #072e6d;
    text-align: center;
    color: #ffffff;
    /* color: #77a9f9; */
}

.conteudo-card-rei {
    padding: 10px;
    background-color: #19066c ; 
    text-align:center ; 
    color: #ffffff;
}

/* GALERIA FOTOS DA CIDADE */
.foto {
    max-width: 1120px;
    width: 600px;
    height: 400px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*  */
    margin: 20px auto;
}

.info {
    position: absolute; /*vai ficar na frente da nossa imagem*/
    width: 30px;
    height: 30px;
    background-color: #634038;
    border-radius: 50%;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    color: #fbffe6;
    cursor: pointer;
    font-size: 18px;
}

/* criando um elemento que nao ira aparecer na tela */
div-hover {
    display: none; /*escondendo o card com as informaçoes*/
    position: absolute;
    top: 100%;
    left: 50%;
    width: 500px;
    height: 400px;
}

.icone:hover .div-hover {
    display: block;/* mostrando o card com as informaçoes */
    position: absolute;
    top: 15%;
    left: 37%;
}
.cidade > p{
    color: #000000;
    font-size: 20px;
    max-width: 45%;
}

.banner-novidades{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    gap: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.banner-imagens{
    max-width: 60%;
     column-count: 4;
     

}

.banner-imagens >figure > img{
    width: 160px;
    height: 100%;
    border-radius: 5px;
    
}

*/Nathalia*/
nav{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
    color: black;
}

.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
ul{
    display: flex;
    gap: 1.5rem;
}
li  {
    list-style: none;
}
a{
    text-decoration: none;
}
li > a{
    color: black;
    font-family: Teko;
}
.banner{
    max-width: 1120px;
    height: 60vh;
    margin: auto;

}
.banner > img {
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    opacity: 0.7;
}
body{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-decoration: none;
}

.rodape {
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}