@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

.logo{
    margin:0.5cm;
}

.logo img {
    width: 200px;
    height: 100%;

}

.link {
    text-decoration: none;
    color: #051b40;
}


/*
ul {
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
} */


/* GALERIA DE PREFEITOS */

.titulo {
    text-align: center;
}

.Rei-dos-vassalos{
    display: flex;
    max-width: 1500px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px 0;
}

.container-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    column-count: 4;
    flex-flow: wrap;
    /* overflow-x: auto; Adiciona scroll  */
    gap: 0.8rem;
}

.card-Rei {
    width: 900px;
    height: 200px;
    flex: 0 0 auto;
    box-shadow: 0 4px 6px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 340px;
    flex: 0 0 auto;  /* Evita que os cards encolham ou se ajustem automaticamente */
    border: 1px solid #0f1d0318;
    box-shadow: 0 4px 6px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.card:hover {
    /* serve para criar um efeito hover, mudando a posição do card */
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(168, 216, 255, 0);
}

.cabecalho-card {
    padding: 10px;
    text-align: center;
}

.titulo-card {
    margin: 0;
    font-size: 1.3rem;
    color: #051b40;
    height: 50px;
}

.subtitulo-card {
    margin: 0;
    font-size: 1rem;
    color: #051b40;
}

.imagem-card {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imagem-card > img {
    max-width: 100%;
    height: 200px; 
}

.imagem-card > figcaption {
    font-size: 0.8rem;
    padding: 8px;
    text-align: center;
    color:#051b40;

}

.conteudo-card {
    padding: 10px;
    background-color: #19066cd4;
    text-align: center;
    color: #ffffff;
    /* color: #77a9f9; */
    /* #b8e30dbc */
}

.conteudo-card-rei {
    padding: 10px;
    background-color: #19066c ; 
    text-align:center ; 
    color: #ffffff;
}

/* GALERIA FOTOS DA CIDADE */
.foto {
    max-width: 1120px;
    width: 600px;
    height: 400px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*  */
    margin: 20px auto;
}

.info {
    position: absolute; /*vai ficar na frente da nossa imagem*/
    width: 30px;
    height: 30px;
    background-color: #634038;
    border-radius: 50%;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    color: #fbffe6;
    cursor: pointer;
    font-size: 18px;
}

/* criando um elemento que nao ira aparecer na tela */
div-hover {
    display: none; /*escondendo o card com as informaçoes*/
    position: absolute;
    top: 100%;
    left: 50%;
    width: 500px;
    height: 400px;
}

.icone:hover .div-hover {
    display: block;/* mostrando o card com as informaçoes */
    position: absolute;
    top: 15%;
    left: 37%;
}
.cidade > p{
    color: #000000;
    font-size: 20px;
    max-width: 45%;
}

.img-nv{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    gap: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.banner-imagens{
    max-width: 60%;
     column-count: 4;
     flex-direction: column;
     justify-content: space-between;
     

}

.banner-imagens >figure > img{
    width: 160px;
    height: 100%;
    border-radius: 5px;
    
}

/*Nathalia*/
nav{

    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
    color: #051b40;
    font-size: 3.5vh;
}

.cabecalho{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   margin: auto;
   position: sticky;
   top: 0;
   max-height: 95px;
}

main {
    display: flex;
    justify-content: center;
    text-align: justify;
}

/* .imgPrincipal{
    position:relative; width: 100%; height: 0; padding-top: 40.2635%;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 5px; will-change: transform;
} */

ul{
    display: flex;
    gap: 1.5rem;
}
li  {
    list-style: none;
}
a{
    text-decoration: none;
}
li > a{
    color: black;

}
.banner{
    max-width: 1120px;
    height: 60vh;
    margin: auto;

}
.banner > img {
    width: 100%;
    box-shadow: 10px 0px 20px rgba(34, 21, 21, 0.5);
    border-radius: 2px;
    opacity: 0.7;
}
body{
    color: rgb(6, 3, 3);
    font-size: 2rem;
    text-decoration: none;
}

.rodape {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: #051b4070;
}

.sof{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 40.2635%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 8px; will-change: transform;
}

.sof2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
    
}

.texto{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    align-items: center;
    font-size: 3vh;
}

/* estilização vi */

